.container {
  /* box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; */
  padding: 80px 100px;
}

.btn {
  display: flex;
  flex-wrap: wrap;
  font: var(--font-h3);
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 100px;
  background: var(--green2);
  margin: 0 auto;
  & a {
    color: var(--white);
    display: flex;
    gap: 20px;
    & img {
      width: 40px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn2 {
  background: var(--white);
  margin: 0;
  margin-top: 40px;
  & a {
    color: var(--green2);
  }
}

.decor {
  display: block;
  font: var(--font-h4);
  text-transform: uppercase;
  color: var(--green2);
  padding-bottom: 20px;
}

.section-head {
  font: var(--font-h1);
  & span {
    font-style: italic;
    color: var(--green2);
  }
}
